{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="h-full">
    {% block content %}
    <header class="mb-3 border-b border-gray-100 shadow-sm">
        <!-- ヘッダー全体 -->
        <div class="flex justify-between py-5 mx-10 border-gray-600">
            <!-- ヘッダーの左側 -->
            <div class="flex space-x-5">
                <div class="flex items-center">
                    <a href="{% url "api:top" %}">
                        <span class="text-2xl font-semibold tracking-tight
                        bg-gradient-to-r from-slate-800 via-gray-700 to-neutral-700
                        bg-clip-text text-transparent">文献一覧作成ツール</span>
                    </a>
                </div>
                <!-- <a href="{% url "api:top" %}" class="text-xl font-bold">Search</a> -->
                <div class="flex items-center">
                    <form action="/search/" method="post">
                        <div class="relative w-96">
                            <!-- <input type="text" class="w-full block border mr-6 px-3 py-1 rounded-full bg-gray-100 border-gray-600" id="searchword" name="searchword" value="{{ search_word }}"/> -->
                            {{ form.searchword }}
                            {{ form.searchword.errors }}
                            {% csrf_token %}
                            <button type="submit" class="absolute right-2 top-2/4 -translate-y-2/4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                    </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ヘッダーの右側 -->
            <div class="flex items-center">
                <nav class="space-x-4">
                    <form method="post" action="{% url "api:logout" %}">
                        {% csrf_token %}
                        <button type="submit" class="font-semibold">Logout</button>
                    </form>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="">
            {% for book in book_obj %}
                <form method="post" action="">{% csrf_token %}
                    <div class=" pt-7 pb-12 border-b-2 border-dotted border-gray-600" value="{{ book }}">
                        <div class="px-4">
                            <p name="title" class="font-bold py-2 text-xl">タイトル: {{ book.title }}</p>
                            <input name="title" type="hidden" value="{{ book.title }}">
                            {% for author in book.author.all %}
                                <div><p name="author">著者・編者: {{ author.author }}</p></div>
                            <!-- <input name="author" type="hidden" value="{{ book.author }}"> -->
                            {% endfor %}
                            {% for type in book.type.all %}
                                <div><p name="type">資料種別: {{ type.type }}</p></div>
                            {% endfor %}
                            <!-- <input name="type" type="hidden" value="{{ book.type }}"> -->
                            <div><p name="publisher">出版社: {{ book.publisher.publisher }}</p></div>
                            <input name="publisher" type="hidden" value="{{ book.publisher }}">
                            {% if book.type == "記事" %}
                                {% for magazine_title in book.magazine_title.all %}
                                    <div><p name="magazine_title">掲載誌: {{ magazine_title.magazine_title }}</p></div>
                                {% endfor %}
                                <!-- <input name="magazine_title" type="hidden" value="{{ book.magazine_title }}"> -->
                                <div><p name="page">掲載ページ: {{ book.page }}</p></div>
                                <input name="page" type="hidden" value="{{ book.page }}">
                            {% endif %}
                            <div><p name="date">出版年: {{ book.date }}</p></div>
                            <input name="date" type="hidden" value="{{ book.date }}">
                            <div>リンク: <a name="link" href="{{ book.link }}">{{ book.link }}</a></div>
                            <input name="link" type="hidden" value="{{ book.link }}">
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
        <!-- ページネーションのページ表示 -->
        <div class="pagination mt-4 mb-8 flex justify-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endblock content %}
    </main>
</body>
</html>

