<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードリセット完了</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="h-screen flex flex-col">
    <header class="border-b border-gray-100 shadow-md">
        <!-- ヘッダー全体 -->
        <div class="flex justify-between py-4 px-10 shadow-md bg-white">
            <!-- ヘッダーの左側 -->
            <div class="flex items-center">
                <a href="{% url "api:top" %}">
                    <span class="text-2xl font-semibold tracking-tight
                    bg-gradient-to-r from-slate-800 via-gray-700 to-neutral-700
                    bg-clip-text text-transparent">文献一覧作成ツール</span>
                </a>
            </div>
        </div>
    </header>
    <main class="flex-grow flex items-center justify-center">
        <div class="flex justify-center justify-start h-2/5 w-2/5">
            <div class="flex flex-col items-center w-full">
                <p class="text-2xl font-bold tracking-widest">
                    パスワードの再設定が完了しました
                </p>
                <div class="flex w-full">
                    <div class="w-full flex items-center justify-center mx-8 mt-8 py-2 rounded-full font-semibold tracking-widest bg-black text-white border border-black hover:text-black hover:bg-white duration-500">
                        <p><a href="{% url 'api:top' %}">検索画面へ</a></p>
                    </div>
                    <div class="w-full flex items-center justify-center mx-8 mt-8 py-2 rounded-full font-semibold tracking-widest bg-black text-white border border-black hover:text-black hover:bg-white duration-500">
                        <p><a href="{% url 'api:login' %}">ログイン画面へ</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>